In [28]:
# Import depdendencies 
import pandas as pd 
import numpy as np

In [29]:
# Read CSV 

gun = pd.read_csv("../Gun_Violence_In_America/Mass_Shootings.csv")

In [30]:
# View dataframe
gun

,index,city,state,cases,date,fatalities,injured,total_victims,age_of_shooter,weapons_obtained_legally,latitude,longitude,year
0,86,Brookfield,Wisconsin,Living Church of God shooting,3/12/2005,7,4,11,44,Yes,43.060567,-88.106479,2005
1,0,Orange,California,Orange office complex shooting,3/31/21,4,1,5,Unknown,Unknown,33.835420,-117.853790,2021
2,1,Boulder,Colorado,Boulder supermarket shooting,3/22/21,10,0,10,21,Yes,39.986961,-105.251168,2021
3,2,Atlanta,Georgia,Atlanta massage parlor shootings,3/16/21,8,1,9,21,Unknown,34.111653,-84.580376,2021
4,3,Springfield,Missouri,Springfield convenience store shooting,3/16/20,4,0,4,31,Unknown,37.210432,-93.236860,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,121,Miami,Florida,Welding shop shooting,8/20/1982,8,3,11,51,Yes,25.796491,-80.226683,1982
118,116,Sunnyvale,California,ESL shooting,2/16/1988,7,4,11,39,Yes,37.368830,-122.036350,1988
119,117,Palm Bay,Florida,Shopping centers spree killings,4/23/1987,6,14,20,59,Yes,28.033189,-80.642970,1987
120,118,Edmond,Oklahoma,United States Postal Service shooting,8/20/1986,15,6,21,44,Yes,35.667201,-97.429370,1986
121,120,Dallas,Texas,Dallas nightclub shooting,6/29/1984,6,1,7,39,No,32.925166,-96.838676,1984

In [31]:
# View data types
gun.dtypes

index                         int64
city                         object
state                        object
cases                        object
date                         object
fatalities                    int64
injured                       int64
total_victims                 int64
age_of_shooter               object
weapons_obtained_legally     object
latitude                    float64
longitude                   float64
year                          int64
dtype: object

In [32]:
# order data by index descending 
gun = gun.sort_values(by='index', ascending=True)
gun

,index,city,state,cases,date,fatalities,injured,total_victims,age_of_shooter,weapons_obtained_legally,latitude,longitude,year
1,0,Orange,California,Orange office complex shooting,3/31/21,4,1,5,Unknown,Unknown,33.835420,-117.853790,2021
2,1,Boulder,Colorado,Boulder supermarket shooting,3/22/21,10,0,10,21,Yes,39.986961,-105.251168,2021
3,2,Atlanta,Georgia,Atlanta massage parlor shootings,3/16/21,8,1,9,21,Unknown,34.111653,-84.580376,2021
4,3,Springfield,Missouri,Springfield convenience store shooting,3/16/20,4,0,4,31,Unknown,37.210432,-93.236860,2020
5,4,Milwaukee,Wisconsin,Molson Coors shooting,2/26/20,5,0,5,51,Unknown,43.044511,-87.962537,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,117,Palm Bay,Florida,Shopping centers spree killings,4/23/1987,6,14,20,59,Yes,28.033189,-80.642970,1987
120,118,Edmond,Oklahoma,United States Postal Service shooting,8/20/1986,15,6,21,44,Yes,35.667201,-97.429370,1986
21,119,San Ysidro,California,San Ysidro McDonald's massacre,7/18/1984,22,19,41,41,Yes,32.552001,-117.043081,1984
121,120,Dallas,Texas,Dallas nightclub shooting,6/29/1984,6,1,7,39,No,32.925166,-96.838676,1984
117,121,Miami,Florida,Welding shop shooting,8/20/1982,8,3,11,51,Yes,25.796491,-80.226683,1982

In [33]:
# View the value counts for the column 
gun["weapons_obtained_legally"].value_counts()

Yes                                                                                                                                    81
No                                                                                                                                     16
Unknown                                                                                                                                14
TBD                                                                                                                                     7
\nYes                                                                                                                                   2
Yes                                                                                                                                     1
Kelley passed federal criminal background checks; the US Air Force failed to provide information on his criminal history to the FBI     1
Name: weapons_obtained_legally, dtype: int64

In [34]:
# Change certain values in column where necessary
gun['weapons_obtained_legally'].replace({"Kelley passed federal criminal background checks; the US Air Force failed to provide information on his criminal history to the FBI": "Yes", "\nYes": "Yes"}, inplace=True)

In [35]:
# View the changes 
gun["weapons_obtained_legally"].value_counts()

Yes        84
No         16
Unknown    14
TBD         7
Yes         1
Name: weapons_obtained_legally, dtype: int64

In [36]:
# Replace "Yes" that includes white space with "Yes " without white space
gun['weapons_obtained_legally'].replace({"Yes ": "Yes"}, inplace = True)

In [37]:
# View the changes 
gun["weapons_obtained_legally"].value_counts()

Yes        85
No         16
Unknown    14
TBD         7
Name: weapons_obtained_legally, dtype: int64

In [44]:
# View the changes 
gun["year"].value_counts()

2018    12
2017    11
2019    10
2012     7
2015     7
2016     6
2013     5
1999     5
2014     4
2007     4
2009     4
1993     4
1998     3
1991     3
2011     3
2006     3
2008     3
2021     3
1997     2
1992     2
1989     2
1984     2
2005     2
2020     2
2010     1
1982     1
2004     1
2001     1
2000     1
1996     1
1995     1
1994     1
1990     1
1988     1
1987     1
1986     1
2003     1
Name: year, dtype: int64

In [57]:
# read original csv
mass_shootings = pd.read_csv('Original.csv')

In [61]:
# view only two columns
mass_shootings = mass_shootings[['summary', 'sources']]

In [62]:
mass_shootings

,summary,sources
0,"Brandon Scott Hole, 19, opened fire around 11 ...",https://www.indystar.com/story/news/crime/2021...
1,"Aminadab Gaxiola Gonzalez, 44, allegedly opene...",https://www.latimes.com/california/story/2021-...
2,"Ahmad Al Aliwi Alissa, 21, carried out a mass ...",https://www.denverpost.com/2021/03/22/police-a...
3,"Robert Aaron Long, 21, killed eight people at ...",https://www.ajc.com/news/breaking-multiple-sho...
4,"Joaquin S. Roman, 31, went on a rampage culmin...",https://www.kiro7.com/news/trending/ive-been-s...
...,...,...
118,"Retired librarian William Cruse, 59, was paran...",http://articles.latimes.com/1987-04-25/news/mn...
119,"Postal worker Patrick Sherrill, 44, opened fir...",http://news.google.com/newspapers?id=dm8aAAAAI...
120,"James Oliver Huberty, 41, opened fire in a McD...",http://www.utsandiego.com/san-ysidro-massacre/...
121,"Abdelkrim Belachheb, 39, opened fire at an ups...",http://books.google.com/books?id=Hr3OBwP-lbUC&...
122,"Junior high school teacher Carl Robert Brown, ...",http://www.nytimes.com/1982/08/21/us/gunman-in...

In [64]:
# merge two dataframes on an index
merged_df= gun.merge(mass_shootings, left_index=True, right_index=True)

In [66]:
# take the updated dataframe to csv
merged_df.to_csv('updated_table.csv', index=True)